*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    /*display: flex;
    padding: 1rem;*/
    text-align: center;
    margin:0 auto;
    width: 50%;
    background-color: rgb(141, 180, 221);
    border-radius: 0.35rem;
}
.container input{
    margin-right: auto;
    padding: 1vh;
    border-radius: 0.2rem;
}
.container .add{
    padding: 1rem;
    margin-left: auto;
    background-color: rgb(31, 116, 220);
    font-size: large;
    color: white;
    font-weight: 400;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 0.45rem;
    box-shadow: 0 .2rem .4rem rgb(25, 15, 205);
}
ul{
    list-style-type:none;
    padding: 0;
}
li{
    margin: 5px 0;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: rgb(209, 227, 115);
    
}

.delete{
    margin-left: auto;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    box-shadow: 0 .2rem .4rem rgb(228, 48, 138);
    background-color: rgb(225, 59, 59);
}
.delete:hover{
    background-color: rgb(222, 47, 47);
    transform: scale(1.05);
    
}
.add:hover{
    background-color: rgb(44, 172, 44);
    transform: scale(1.05);
}


